###### Requirements without Version Specifiers ######
requests
python-jamf

###### Requirements with Version Specifiers ######
#python-jamf == 0.8.2             # Version Matching. Must be version 0.8.2